body{
    background-color: #ff6ec7;
}

*:focus{
    outline: 0;
}

h1{
    position: relative;
    margin: auto;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    text-align: center;
    zoom: 2;
}

.inputs {
    width: 800px;
    height: 100px;
    padding-top: 50px;
    margin: auto;
    position: relative;
    text-align: center;
}

input{
    background-color: #ff6ec7;
    border: 5px solid black;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    color: black;
    margin: 20px;
}

.button{
    background-color: red;
    border: 1px solid #ff6ec7;
    border-radius: 30px;
    height: 50px;
    width: 80px;
}

.button:hover{
    box-shadow: 0 0 10px red;
}

.button:active{
    background-color: purple;
}

.heart {
    position: relative;
    margin: auto;
    margin-top: 100px;
    background-color: red;
    transform: rotate(-45deg);
    width: 100px;
    height: 100px;
}

.heart:after,
.heart:before{
    position: absolute;
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.heart:before{
    top: -50px;
    left: 0;
}

h2{
    position: relative;
    margin: auto;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin-top: 30px;
}

p{
    position: relative;
    margin: auto;
    padding-top: 30px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}